* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: rgb(159, 175, 138);
}

.inputs{
    border-radius: 10%;
}

nav {
    background-color: rgb(100, 95, 95);
    margin: 0;
    overflow: hidden;
}

nav ul{
    margin: 0;
    padding: 0;
    float: left
}

nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
    
}
 
/* Create a style for the first level items */
nav > ul > li > a {
    color: rgb(215, 223, 210);
    /*background-color:#FF0;*/
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}


nav > form#search-container {
    float: right;
    border: none;
    padding: 0.5em 0.5em;
    /* margin-top: 8px;
    margin-right: 9px; */
    font-size: 25px;
}

form#search-container input{
    text-align: center;
    width: 250px;
    height: 25px;
}

form#search-container button{
    background: rgb(245, 244, 244);
    padding: 2px 5px;
    margin: 0;
}

form#search-container button:hover {
    background: #ccc;
}
  

section#main-section {
    display: flex;
    flex-flow: row wrap;
    
    /* justify-content: space-between; */
}

section#main-section div {
    margin: 10px auto;
    /* border: 0.5px solid; */
    border-radius: 25px;
    padding: 16px;
    align-items: center;
    background-color: rgb(182, 173, 44)
}


#nowCast p span{
    color: #90006e;
    font-size: 2.5vh;
}

#nowCast p{
    padding: 3px;  
}


#countryInfor {
    height: 27vh; 
    width: 45vh;   
}

#weekDayForecast > div:nth-child{
    background-color: blue;
    border-color: black;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    align-items: center;
}

/* Links inside the dropdown */
.dropdown-content * {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
  }

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropbtn {
    background-color: rgb(223, 209, 209);
    padding: 5px;
    border: solid 0.5px;
    border-radius: 25px;
    align-items: center;
}


.dropbtn:hover {
    cursor: pointer;
    background-color: rgb(65, 130, 192);
}

/* Show the dropdown menu 
(use JS to add this class to the .dropdown-content 
container when the user clicks on the dropdown button) */
.show {display:block;}


